@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

rect,
path {
  transition: fill 0.2s ease-in-out;
}

/* Apply hover ONLY to rects NOT having st0, st1, st2 */
g:hover > rect:not(.st0):not(.st1):not(.st2),
rect:not(.st0):not(.st1):not(.st2):hover {
  fill: #d3d3d3 !important;
  cursor: pointer;
}

/* Apply hover ONLY to paths NOT having st1 or st2 */
g:hover > path:not(.st1):not(.st2),
path:not(.st1):not(.st2):hover {
  fill: #d3d3d3 !important;
  cursor: pointer;
}

/* Optional: Allow text to show pointer on hover */
text:hover {
  cursor: pointer;
}






@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom styles */


.ListingGuarantee_container__J4rIl{
      display: flex;
      padding: 11px 16px;
      align-items: center;
      border-bottom: 1px solid #c2c2c269;
      background-color: #fff;
}

@media screen and (min-width: 960px) {
  .ListingGuarantee_container__J4rIl {
      padding: 20px;
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
  }
}
.ListingGuarantee_right__Fbt1F {
  padding-left: 14px;
  font-size: 13px;
}
.ListingGuarantee_title__LV4HA {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--montserrat-font);
  padding-bottom: 2px;
}
.ListingGuarantee_text__jDud2 {
  font-size: 13px;
  color: #868585;
}

/* Add this to your global CSS or use Tailwind classes directly */
.filter-btn, .filter-select {
  @apply h-8 px-2 inline-flex items-center gap-1 text-[10px] font-normal bg-white border border-white rounded-full cursor-pointer shadow;
}

.filter-btn {
  white-space: nowrap;
}



.svg-stadium{
  max-width: 1200px;
  max-height: 1000px;
}


.filter-btn.active {
  background-color: #efb3b3;
  color: #b00506;
  font-weight: 600;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


#heart:hover{
  fill: #b00506;
}

#ick{
  fill: #b00506;
}

#tick{
  fill: #0a0a0a;
}





